{% extends "base.html" %}
{% block content %}
        <h1>Adicionar tarefas</h1>
        <form id="adicionar_tarefas" method="post" action="/lista_tarefas/adicionar_tarefa/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for campo in form.visible_fields %}
                {{ campo.errors }}
                {{ campo.help_text }}
                {{ campo }}<br>
            {% endfor %}

            <input type="submit" name="submit" value="Criar tarefa" />
{% endblock %}