{% extends "base.html" %}
{% block content %}
        <h1>Alterar</h1>
        <form id="alterar_tarefas" method="post" action="/lista_tarefas/alterar_tarefa/{{ tarefa_id }}/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for campo in form.visible_fields %}
                {{ campo.errors }}
                {{ campo.help_text }}
                {{ campo }}<br>
            {% endfor %}
            <input type="submit" name="submit" value="Criar tarefa" />
{% endblock %}