{% extends "base.html" %}

{% block content %}
	<h1>{{ Tarefa.titulo }}</h1>
		<ul>
			<li>Descrição da tarefa: {{ Tarefa.descricao }}</li>
				{% if Tarefa.status == 0 %}
					<li>Status da atividade: Não concluído </li>
				{% else %}
					<li>Status da atividade: Concluído </li>
				{% endif %}
		<br>
		<a href="/lista_tarefas/alterar_tarefa/{{Tarefa.id}}">|| alterar ||<a>
		<a href="/lista_tarefas/excluir_tarefa/{{Tarefa.id}}">excluir ||<a>
		<a href="/lista_tarefas/"> Página inicial</a>
		<ul>
{% endblock %}