{% extends "base.html" %}
    {% block content %}
    	 {% if tarefas %}
            <ul>
                {% for tarefa in tarefas %}
                <a href="/lista_tarefas/detalhes/{{tarefa.id}}"><li>{{ tarefa.titulo }}<a>
        		<a href="/lista_tarefas/alterar_tarefa/{{tarefa.id}}">|| alterar<a>
        		<a href="/lista_tarefas/excluir_tarefa/{{tarefa.id}}">excluir<a>
        		</li>
                {% endfor %}
            </ul>
            <a href="/lista_tarefas/adicionar_tarefa/">Nova tarefa<a>
        {% else %}
            <strong>Ops! Ainda não há tarefas registradas!</strong>
            <a href="/lista_tarefas/adicionar_tarefa/">Adicionar tarefas</a><br>
        {% endif %}

        <a href="/lista_tarefas/sobre/">Sobre</a><br />
    {% endblock %}	
