{% extends 'base.html' %}

{% block content %}
 	<form action="." method="post">
		{% csrf_token %}
    		<label>Login</label><br>
    		{{ form.username }}<br>
        <label>Senha<label><br>
        {{ form.password }}

		{% if form.errors %}
			Login ou senha incorretos
		{% endif %}

		<input type="submit"  value="Entrar"/>
	</form>
{% endblock %}