<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Lista de Tarefas</title>
    </head>

    <body>
    	<ul> 
        	<li>Esta aplicação foi desenvolvida por João Henrique de Oliveira Júnior para o desafio itFlex</li>
        	<li><a href="/lista_tarefas/">Página inicial</a></li>
 		</ul>
    </body>

</html>